 * {
}
.input {
	float: left;
	margin: 15px;
	padding: 25px;
	border: 3px outset black;
	border-radius: 10px;
	text-align: center;
}
input {
	margin: 5px;
}
button {
	margin: 5px;
	width: 150px;
	height: 30px;
}