h1 {
	font-size: 200%;
	font-weight; bold;
}
h5 {
	font-size: 125%;
	/*border-bottom: 1px dashed black;*/
}
p {
	line-height: 36px;
}
li:before {
	text-indent: 8px;
	content: "\2022";
}
.right {
	text-align: right;
	margin-right: 100px;
}
body {
	background: #fff;
}
header, main, footer {
	min-width: 855px;
}
header .container, main .container, footer .container {
	min-width: 855px;
	margin: auto;
}
header {
	background: white;
	overflow: auto;
	border-bottom: 1px solid black;
	margin: 30px;
}
header h1 {
	float: left;
	width: 570px;
}
header nav {
	float: right;
	width: 285px;
}
main {
	background: white;
}
.tabs a span {
	display: inline-block;
	border-radius: 5px 5px 0 0;
	width: 100px;
	margin-right: 10px;
	text-align: center;
	background: #ddd;
	padding: 5px;
}
.tabs a span.active {
	background: #eee;
}
footer {
	height: 200px;
	background: #f9e933;
}
footer .contact {
	float: left;
	width: 570px;
	margin: 35px;
}
footer .contact  div p {
	margin: 5px;
	line-height: 16px;
}
footer .sitemap {
	float: right;
	width: 285px;
	margin: 35px;
}