 * {
	margin: 0;
	padding: 0;
}

.comments p:nth-child(even) {
	background: #e6e6fa;
}
.comments p:nth-child(odd) {
	background: #dcdcdc;
}
.comments p:hover {
	background: #ffffeb;
}
.comment-input button:hover {
	cursor: pointer;
}